* {
  box-sizing: border-box;
}
header {
  padding: 25px;
  text-align: center;
  color: #fff;
  background: #A596BE;
  border-bottom: 5px solid #CD9CAD;
  text-shadow: 0 0 5px black;;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Press Start 2P', cursive, serif;
  background: url('../images/cityscape.png');
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  font-size: 24px;
  padding: 10px;
}
.container h1 {
  text-shadow: 0 0 5px white;
}
h2 {
  font-size: 20px;
  padding: 25px;
  text-shadow: 0 0 5px white;
}
h3 {
  padding: 5px;
  text-shadow: 0 0 5px white;
}
ul {
  margin-top: 25px;
}
.container {
  margin-top: 50px;
  flex: 1;
}
#main-content {
  width: 100%;
}
#question-timer {
  text-align: center;
}
#current-question {
  text-align: center;
  line-height: 1.5em;
}
.question-option {
  cursor: pointer;
}
.highlight-correct {
  box-shadow: inset 0 0 25px #08AF14;
}
.highlight-incorrect {
  box-shadow: inset 0 0 25px #FA2A1B;
}
#results-container {
  text-align: center;
  padding: .75rem 1.25rem;
}

footer {
  padding: 25px;
  text-align: center;
  color: #fff;
  background: #122125;
  border-top: 5px solid #122125;
}
