* {
  box-sizing: border-box;
}
header {
  padding: 25px;
  text-align: center;
  color: #fff;
  background: #4f4f4f;
  border-bottom: 5px solid #2f2f2f;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  margin-top: 50px;
  flex: 1;
}
#main-content {
  width: 100%;
}
#question-timer {
  text-align: center;
}
#current-question {
  text-align: center;
}
question-option {
  cursor: pointer;
}
.highlight-correct {
  box-shadow: inset 0 0 25px green;
}
.highlight-incorrect {
  box-shadow: inset 0 0 25px red;
}
#results-container {
  text-align: center;
  padding: .75rem 1.25rem;
  border: 1px solid rgba(0,0,0,.125);
}

footer {
  padding: 25px;
  text-align: center;
  color: #fff;
  background: #4f4f4f;
  border-top: 5px solid #2f2f2f;
}
